@page "/plugins/lnbank/tx/{transactionId}"
@inject BTCPayServer.Abstractions.Services.Safe Safe
@model BTCPayServer.Plugins.LNbank.Pages.Transactions.ShareModel

@{
    Layout = "_LayoutSimple";
    ViewData.SetActivePage(LNbankNavPages.Share, Model.Transaction.Description);
}

@section PageHeadContent {
    <partial name="_LayoutLNbankHead" />
}

@section PageFootContent {
    <partial name="_LayoutLNbankFoot" />
}

<main role="main" class="pb-3">
    <div class="row justify-content-center mb-2">
        <div class="col text-center">
            <a asp-controller="UIHome" asp-action="Index" tabindex="-1">
                <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" class="mb-4" height="70" asp-append-version="true"/>
            </a>
            <h1 class="h2 mb-3">LNbank</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col text-center">
            <h2 id="LNbank-TransactionTitle">@ViewData["Title"]</h2>
            @if (Model.Transaction.IsPaid || Model.Transaction.IsSettled)
            {
                <h3 id="LNbank-TransactionSettled" class="text-success">
                    <span data-sensitive>@Helpers.Sats(Model.Transaction.AmountSettled)</span>
                    @Model.Transaction.Status
                </h3>
                <h4 class="h4 text-muted">
                    @if (Model.Transaction.IsSettled)
                    {
                        <span>
                            Paid
                            @Model.Transaction.PaidAt?.ToBrowserDate(ViewsRazor.DateDisplayFormat.Relative)
                        </span>
                    }
                    else
                    {
                        <span>Awaiting confirmation</span>
                    }
                </h4>
            }
            else
            {
                <h3 id="LNbank-TransactionAmount" class="text-@Helpers.TransactionStateClass(Model.Transaction)">
                    @Helpers.Sats(Model.Transaction.Amount)
                    @Model.Transaction.Status
                </h3>

                @if (!Model.Transaction.IsCancelled)
                {
                    <h4 class="h4 text-muted">
                        @(Model.Transaction.IsExpired ? "Expired" : "Expires")
                        @Model.Transaction.ExpiresAt.ToBrowserDate(ViewsRazor.DateDisplayFormat.Relative)
                    </h4>
                }

                @if (!Model.Transaction.IsExpired && !Model.Transaction.IsCancelled)
                {
                    <div class="payment-box my-4">
                        <div class="qr-container" data-clipboard="@Model.Transaction.PaymentRequest" id="LNbank-QRContainer">
                            @await Component.InvokeAsync("QRCode", new { data = Model.Transaction.PaymentRequest.ToUpperInvariant() })
                        </div>
                        <div class="input-group mt-3">
                            <div class="form-floating">
                                <input asp-for="Transaction.PaymentRequest" class="form-control-plaintext" readonly="readonly">
                                <label asp-for="Transaction.PaymentRequest">Lightning</label>
                            </div>
                            <button type="button" class="btn btn-link" data-clipboard-target="#Transaction_PaymentRequest">
                                @await Component.InvokeAsync("Icon", new { symbol = "copy" })
                            </button>
                        </div>
                        <a class="btn btn-primary rounded-pill w-100 mt-4" target="_top" id="LNbank-PayInWallet"
                           href="lightning:@Model.Transaction.PaymentRequest">Pay in wallet</a>
                    </div>

                    <script>
                        (function () {
                            window.LNbank.hubs.push({
                                id: 'transaction',
                                handlers: {
                                    'transaction-update': data => {
                                        if (data.transactionId === @Safe.Json(Model.Transaction.TransactionId) {
                                            window.location.reload();
                                        }
                                    }
                                }
                            })
                        })()
                    </script>
                }
            }
        </div>
    </div>
</main>
