@page "/plugins/lnbank/wallets/{walletId}/details"
@using BTCPayServer.Plugins.LNbank.Data.Models
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.DetailsModel

@{
    ViewData.SetActivePage(LNbankNavPages.WalletSettings, Model.CurrentWallet.Name, Model.CurrentWallet.WalletId);
    string lndhubUrl = null;
    var adminKey = Model.CurrentWallet.AccessKeys.FirstOrDefault(ak => ak.Level == AccessLevel.Admin);
    if (adminKey != null)
    {
        var endpoint = new Uri($"{Request.Scheme}://{Request.Host}{Request.PathBase.ToUriComponent()}/plugins/lnbank/api/lndhub");
        lndhubUrl = $"lndhub://{Model.CurrentWallet.WalletId}:{adminKey.Key}@{endpoint}";
    }
}

<partial name="_WalletHeader" model="Model.CurrentWallet"/>
<partial name="_Nav" model="Model.CurrentWallet"/>
<partial name="_StatusMessage"/>

<dl class="row">
    <dt class="col-sm-3 col-xl-2">
        @Html.DisplayNameFor(model => model.CurrentWallet.Balance)
    </dt>
    <dd class="col-sm-9 col-xl-10" id="LNbank-Balance">
        <span data-sensitive>@Helpers.Sats(Model.CurrentWallet.Balance)</span> /
        <span data-sensitive>@Helpers.Millisats(Model.CurrentWallet.Balance)</span>
    </dd>
    <dt class="col-sm-3 col-xl-2">
        @Html.DisplayNameFor(model => model.CurrentWallet.WalletId)
    </dt>
    <dd class="col-sm-9 col-xl-10" id="LNbank-WalletId">
        @Model.CurrentWallet.WalletId
    </dd>
    <dt class="col-sm-3 col-xl-2">
        @Html.DisplayNameFor(model => model.CurrentWallet.CreatedAt)
    </dt>
    <dd class="col-sm-9 col-xl-10">
        @Model.CurrentWallet.CreatedAt
    </dd>
    <dt class="col-sm-3 col-xl-2">
        Lightning Address
    </dt>
    <dd class="col-sm-9 col-xl-10">
        @if (string.IsNullOrEmpty(Model.CurrentWallet.LightningAddressIdentifier))
        {
            <span class="text-secondary">No Lightning Address, yet. Set Lightning Address Identifier below.</span>
        }
        else
        {
            <span>@Model.CurrentWallet.LightningAddressIdentifier@@@Request.Host</span>
        }
    </dd>
    <dt class="col-sm-3 col-xl-2">
        LNURL
    </dt>
    <dd class="col-sm-9 col-xl-10">
        <a asp-page="./ShareLNURL" asp-route-walletId="@Model.CurrentWallet.WalletId" target="lnurl-@Model.CurrentWallet.WalletId">Receive</a> /
        <a asp-page="./WithdrawConfigs" asp-route-walletId="@Model.CurrentWallet.WalletId">Withdraw</a>
    </dd>
</dl>

<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentWallet.Name" class="form-label"></label>
                <input asp-for="CurrentWallet.Name" class="form-control" />
                <span asp-validation-for="CurrentWallet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentWallet.LightningAddressIdentifier" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="CurrentWallet.LightningAddressIdentifier" class="form-control" aria-describedby="LightningAddressIdentifier-Host" />
                    <span class="input-group-text" id="LightningAddressIdentifier-Host">@@@Request.Host</span>
                </div>
                <span asp-validation-for="CurrentWallet.LightningAddressIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center gap-3">
                <input asp-for="CurrentWallet.PrivateRouteHintsByDefault" type="checkbox" class="btcpay-toggle"/>
                <label asp-for="CurrentWallet.PrivateRouteHintsByDefault" class="form-label mb-0"></label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(lndhubUrl))
{
    <h3 class="mt-5 mb-3">Connect LNDhub-compatible wallet</h3>
    <p>
        With the QR code/account URL below, you can connect any wallet that is compatible with the LNDhub protocol.
        This is supported by <a href="https://bluewallet.io/" target="_blank" rel="noreferrer noopener">BlueWallet</a>,
        <a href="https://zeusln.app/" target="_blank" rel="noreferrer noopener">Zeus</a> and
        <a href="https://getalby.com/" target="_blank" rel="noreferrer noopener">Alby</a>.
    </p>
    <p>These credentials allow unrestricted access to your LNbank wallet. Treat it as confidential information.</p>

    <div id="LNbank-LNDhubQR" class="collapse">
        <div class="payment-box mx-0">
            <div class="qr-container" data-clipboard="@lndhubUrl" id="LNbank-QRContainer">
                @await Component.InvokeAsync("QRCode", new { data = lndhubUrl })
            </div>
            <div class="input-group mt-3">
                <div class="form-floating">
                    <input id="LNbank-AccessUrl" class="form-control-plaintext" readonly="readonly" value="@lndhubUrl">
                    <label for="LNbank-AccessUrl">Access URL</label>
                </div>
                <button type="button" class="btn btn-link" data-clipboard-target="#LNbank-AccessUrl">
                    @await Component.InvokeAsync("Icon", new { symbol = "copy" })
                </button>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <button class="d-flex align-items-center gap-1 btn btn-link px-0" type="button" id="LNbank-ToggleLNDhubQR" data-bs-toggle="collapse" data-bs-target="#LNbank-LNDhubQR" aria-expanded="false" aria-controls="LNbank-LNDhubQR">
            <span class="fw-semibold">Show QR code</span>
            @await Component.InvokeAsync("Icon", new { symbol = "caret-down" })
        </button>
    </div>
}

<h3 class="mt-5 mb-4">Other options</h3>

<a asp-page="./Delete" asp-route-walletId="@Model.CurrentWallet.WalletId" class="btn btn-outline-danger">
    Delete Wallet
</a>
